@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        #Homepage {
            animation: acceuil_pop-up 1000ms both 2500ms; 
        }
        #gif {
            padding: 15% 34%;
            animation: gif_pop-up 3000ms both ; 
        }
    }
    html {
        height:100%;
    }
    a {
        text-decoration: none;
    }
    .container {
        position: relative;
        min-height: 100%;
        main {
            position: relative;
            min-height: 100%;
            padding-bottom: 40%;
            @media screen and (max-width: 300px ) {
                padding-bottom: 60%;
            }
            @media screen and (min-width: 600px ) {
                padding-bottom: 20%;
            }
        }
        footer {
            position: absolute;
            bottom: 0;
        }
    }
    .menu {
        .container main {
            padding-bottom: 40%;
            @media screen and (max-width: 400px ) {
                padding-bottom: 53%;
            }
            @media screen and (min-width: 599px ) {
                padding-bottom: 30%;
            }
            @media screen and (min-width: 730px ) {
                padding-bottom: 25%;
            }
            @media screen and (min-width: 1000px ) {
                padding-bottom: 21%;
            }
            @media screen and (min-width: 1400px ) {
                padding-bottom: 19%;
            }
        }
    }
}