.aside {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    background-color: $second-background;
    @extend .flex-col;
    @media (min-width:1000px) {
        opacity: 0;
        position: absolute;
    }
    &__title {
        width: 70%; 
        margin: 0;
    }
    &__line {
        margin: 3% 0 7%;
        width: 90%;
        font-weight: 300;
        font-size: larger;
    }
}   
