.seconde-section {
    background-color: $second-background;
    padding: 5%;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 18%;
    @extend .flex-col;
    @include tablette-flex;
    @include desktop-flex;
    @include desktop-smaller;
    &__title {
        margin:10% 0 0;
        @media (min-width:1000px) {
            margin: 0;
        }
    }
    &-figure {
        flex-basis: 20%;
        background-color: #fff;
        border-radius: 25px;
        margin: 0;
        position: relative;
        @extend .box-shadow;
        @include tablette-element;
        .nouveau-resto{
            position: absolute;
            top: 5px;
            right: 25px;
            padding: 2% 4%;
            background-color: $colour-tertiary;
            color: green;
            font-weight: bold;
            @include tablette-nouveau;
            @include desktop-nouveau;
        }
        img {
            width: 100%;
            height: 175px;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }
        &-description {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 4%;
            &__heart {
                font-size: 180%;
                i:last-child {
                    opacity: 0;
                    position: absolute;
                }                
                &:active{
                    i:first-child{
                        position: absolute;
                        opacity: 0;
                    }
                    i:last-child {
                        opacity: 1;
                        position: relative;
                        color: $colour-primary;
                    }                     
                }
            }
            &__title {
                margin: 0 0 5px;
                font-size: 120%;
            }
        }  
    }
}
