@keyframes menu_pop-up {
    from {
        opacity: 0;
        margin: 2% 0;
    }
    to {
        opacity: 1;
        margin: 0% 0;
    }
}
@keyframes acceuil_pop-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spinner_pop-up {
    0% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 120px, $colour-primary 135px, $colour-secondary 150px);
    }
    66% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 120px, $colour-primary 135px, $colour-secondary 150px);
    }
    100% {
        opacity: 0;        
    }
}
@keyframes spinner_pop-up2 {
    0% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 40%, $colour-primary 45%, $colour-secondary 50%);
    }
    66% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 40%, $colour-primary 45%, $colour-secondary 50%);
    }
    100% {
        opacity: 0;        
    }
}
@keyframes spinner_pop-up3 {
    0% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 400px, $colour-primary 430px, $colour-secondary 460px);
    }
    66% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 400px, $colour-primary 430px, $colour-secondary 460px);
    }
    100% {
        opacity: 0;        
    }
}
@keyframes spinner_pop-up4 {
    0% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 175px, $colour-primary 185px, $colour-secondary 200px);
    }
    66% {
        opacity: 1;
        background:radial-gradient(circle at center, $colour-secondary, $colour-secondary 175px, $colour-primary 185px, $colour-secondary 200px);
    }
    100% {
        opacity: 0;        
    }
}
@keyframes loading_pop-up {
    0%{
        transform: rotate(0deg);
        box-shadow: $colour-secondary 100px 0px 100px 100px;
    }
    100% {
        transform: rotate(360deg);
        
    }
}