@mixin tablette-flex {
    @media (min-width: 599px) and (max-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        >:first-child {
            flex-basis: 100%;
        }
    }
}
@mixin tablette-element {
    @media (min-width: 599px) and (max-width: 1000px) {
        flex-basis: 45%;
    }
}
@mixin tablette-nouveau {
    @media (min-width: 599px) and (max-width: 1000px) {
       top: 6%;
       left: 55%;
       padding: 3% 6%;
    }
}
@mixin desktop-flex {
    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        >:first-child {
            flex-basis: 100%;
        }
    }
}
@mixin desktop-element {
    @media (min-width: 1000px) {
        flex-basis:30%;
        margin: 0;
        padding: 2% 2% 2% 0;
    }
}
@mixin desktop-smaller {
    @media (min-width: 1000px) {
        padding: 2%
    }
}
@mixin desktop-nouveau {
    @media (min-width: 1000px) {
       top: 5%;
       left: 50%;
       padding: 3% 6%;
    }
}