.footer {
    color:white;
    background-color: #323232;
    padding:5% 5% 10%;
    gap:10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    @extend .flex-col;
    @include tablette-flex;
    @include desktop-flex;
    &__img {
        width: 30%;
        path {
            fill: white;
        }
    }
    div {
        display: flex;
        i {
            width: 35px
        }
    }
    >* {
        @include tablette-element;
    }
}