.menu{
    &-header{
        padding: 0% 0 1%;
        gap:22%;
            &__fa {
                color: black;
                font-size:150%;
                position: absolute;
                left: 8%;
            }
    }
    &-main{
        position: relative;
        &__img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }    
        &-container {
            position: relative;
            padding:8% 5%;
            margin-top: -70px;
            background-color: $second-background;
            border-radius: 50px 50px 0 0;
            @extend .flex-col;
            @include desktop-flex;
            @include desktop-smaller;
            &-title {    
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 6%;
                h1{
                    margin:0;
                    font-family: $title, cursive;
                    font-weight: 100;
                    font-size: 175%;
                }
                i {
                    font-size: 200%;
                    font-weight: 100;
                }
            }
            &-carte {
                margin-bottom: 3%;
                @include desktop-element;
                h2{
                    font-weight: 300;
                    font-size: 110%;
                    text-transform: uppercase;
                    padding: 1% 0;
                    border-bottom: $colour-tertiary 3px solid;
                    width: 12%;
                }
                &-repas{
                    gap: 15px;
                    @extend .flex-col;
                    &_content{
                        position: relative;
                        overflow: hidden;
                        background-color: #fff;
                        border-radius: 20px 20px 20px 20px;
                        padding-left: 3%;
                        display: flex;
                        justify-content: space-between;
                        z-index: 0;
                        @extend .box-shadow;
                        transition: overflow 500ms;
                        &:nth-child(1) {
                            animation: menu_pop-up 800ms both; 
                        }
                        &:nth-child(2) {
                            animation: menu_pop-up 800ms 200ms both;
                        }
                        &:nth-child(3) {
                            animation: menu_pop-up 800ms 400ms both;
                        }
                        &:nth-child(4) {
                            animation: menu_pop-up 800ms 600ms both;
                        }
                        i{
                            font-size: 170%;
                            color: white;
                        }
                        &_text {
                            padding: 15px 0;
                            width: 100%;
                            z-index: 1;   
                            transition: width 500ms;
                            h3 {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }                      
                            div{
                                display: flex;
                                justify-content: space-between;
                                transition: justify-content 500ms;
                                span:first-child {
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                                span:last-child {
                                    width: 15%;
                                } 
                            }
                            &_prix{
                                font-weight: bold;
                            }
                        }
                        &_check {
                            position: absolute;
                            right: -100px;
                            background-color: $colour-tertiary;
                            border-radius: 0 20px 20px 0;
                            width: 80px;
                            padding: 26.5px;
                            height: 100%;
                            transition: right 500ms ease-out;
                        }
                        &:hover {
                            .menu-main-container-carte-repas_content_check {
                                right: 0px;  
                                transition: right 500ms ease-out;
                                i {
                                                                     
                                    transform-origin: 50% 50%;
                                    transform: rotate(360deg);                                  
                                    transition: transform 300ms 200ms;
                                }
                            }
                            .menu-main-container-carte-repas_content_text {
                                width: 65%;
                                transition: width 250ms;            
                                div {
                                    gap: 10px;
                                    transition: gap 500ms;
                                }    
                            }
                        }
                        h3{
                            margin:0 0 2%;
                        }
                    }
                }              
            }
            .button {
                align-self: center;
                padding: 4% 12%;
                margin: 9% 0;
                @media (min-width:1000px) {
                    flex-basis: 100%;
                    margin: 2% 35%;
                    text-align: center;
                    padding: 2% 4%;
                }
            }
        }
    }
}
