.menu{
    &-header{
        padding: 0% 0 1%;
        gap:22%;
            &__fa {
                color: black;
                font-size:150%;
                position: absolute;
                left: 8%;
            }
    }
    &-main{
        position: relative;
        &__img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }    
        &-container {
            position: relative;
            padding:8% 5%;
            margin-top: -70px;
            background-color: $second-background;
            border-radius: 50px 50px 0 0;
            @extend .flex-col;
            @include desktop-flex;
            @include desktop-smaller;
            &-title {    
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 6%;
                h1{
                    margin:0;
                    font-family: $title, cursive;
                    font-weight: 100;
                    font-size: 175%;
                }
                i {
                    font-size: 200%;
                    font-weight: 100;
                }
            }
            &-carte {
                margin-bottom: 3%;
                @include desktop-element;
                h2{
                    font-weight: 300;
                    font-size: 110%;
                    text-transform: uppercase;
                    padding: 1% 0;
                    border-bottom: $colour-tertiary 3px solid;
                    width: 12%;
                }
                &-repas{
                    gap: 15px;
                    @extend .flex-col;
                    &_content{
                        position: relative;
                        background-color: #fff;
                        border-radius: 20px 20px 20px 20px;
                        padding-left: 3%;
                        display: flex;
                        justify-content: space-between;
                        @extend .box-shadow;
                        &:nth-child(1) {
                            animation: menu_pop-up 800ms both; 
                        }
                        &:nth-child(2) {
                            animation: menu_pop-up 800ms 200ms both;
                        }
                        &:nth-child(3) {
                            animation: menu_pop-up 800ms 400ms both;
                        }
                        i{
                            font-size: 170%;
                            color: white;
                        }
                        &_text {
                            padding: 3% 0 4%;
                            flex-basis: 100%;
                            z-index: 1;                         
                            div{
                                display: flex;
                                justify-content: space-between;
                                span {
                                    text-overflow: ellipsis;
                                }   
                            }
                            &_prix{
                                font-weight: bold;
                            }
                        }
                        &_check {
                            background-color: $colour-tertiary;
                            border-radius: 0 20px 20px 0;
                            flex-basis: 0%;
                            opacity: 1;
                            transform: scaleX(0);
                        }
                        &:hover {
                            /***** FINITIONS A PRODUIRE SUR L'ANIMATION ******/ 
                            /*** -Le texte doit afficher "..." au lieu de passer à la ligne  ***/
                            /*** -La boite verte doit repartir de la même manière mais sans la rotation  ***/
                            /*** -Vérifier que la boite verte se comporte comme on l'attend au final  ***/
                            .menu-main-container-carte-repas_content_check {
                                transform-origin: 100% 50%;
                                transform: scaleX(1);
                                flex-basis: 19%;
                                padding: 6%;
                                opacity: 1;
                                transition: transform 500ms, flex-basis 500ms, padding 1ms;
                                i {
                                    transform-origin: 50% 50%;
                                    transform: rotate(360deg);                                    
                                    transition: transform 500ms 100ms;
                                }
                            }
                            .menu-main-container-carte-repas_content_text {
                                flex-basis: 75%;
                                transition: flex-basis 500ms;   
                                span:first-child {
                                    flex-basis: 90%;
                                }                
                            }
                        }
                        h3{
                            margin:0 0 2%;
                        }
                    }
                }              
            }
            .button {
                align-self: center;
                padding: 4% 12%;
                margin: 9% 0;
                @media (min-width:1000px) {
                    flex-basis: 100%;
                    margin: 2% 35%;
                    text-align: center;
                    padding: 2% 4%;
                }
            }
        }
    }
}
